@import '../node_modules/bootstrap/scss/bootstrap.scss';
$phone: 414px;
$ipad: 768px;
$desktop: 1200px;

@font-face {
  font-family: "Harriet Display Bold";
  src: url("./assets/fonts/harriet-bold.otf");
}

@font-face {
  font-family: "Revisal Medium";
  src: url("./assets/fonts/revisal-medium.otf");
}

@font-face {
  font-family: "Revisal Regular";
  src: url("./assets/fonts/revisal-regular.otf");
}

@font-face {
  font-family: "Revisal Black";
  src: url("./assets/fonts/revisal-black.otf");
}

@font-face {
  font-family: "Helvetica Light";
  src: url("./assets/fonts/helvetica-light.ttf")
}

.App {
  background: #eef1f2;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.container {
  padding: 0;

  @media screen and (max-width: 767px) {
    max-width: 630px;
  }
}

.row {
  margin: 0 auto;
}

.left-content-left,
.right-content-left {
  @media screen and (min-width: $ipad) {
    align-self: center;
  }
}

//Navbar styling
.nav {
  background: #fff;
  max-width: 100%;
  padding: 22px 0 18px 0;
  margin: 0 auto;

  @media screen and (min-width: $ipad) {
    max-width: 50%;
  }

  @media screen and (min-width: $desktop) {
    max-width: 100%;
  }

  .container {
    .row {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

      .nav-logo {
        &.mobile {
          img {
            width: 75%;
          }

          @media screen and (min-width: $desktop) {
            display: none;
          }
        }

        &.desktop {
          display: none;

          @media screen and (min-width: $desktop) {
            display: inline;
          }
        }
      }

      .nav-content {
        font-weight: 100;
        text-transform: uppercase;

        &.mobile {
          font-size: .7rem;

          @media screen and (min-width: $phone) {}

          @media screen and (min-width: $ipad) {}

          @media screen and (min-width: $desktop) {
            display: none;
          }
        }

        &.desktop {
          display: none;
          font-size: 1rem;

          @media screen and (min-width: $desktop) {
            display: inline;
          }
        }
      }

      .nav-menu {
        @media screen and (min-width: $desktop) {
          visibility: hidden;
        }
      }
    }
  }
}

//Section Top Styling
.section-top {
  padding-top: 135px;
  color: #4a4f6a;
  margin: 0 auto;

  @media screen and (min-width: $desktop) {
    padding-top: 14px;
    padding-bottom: 64px;
  }

  span {
    color: #ad9571;
  }

  .container {
    .row {
      .breaks {
        display: none;
        width: 100%;

        .top-break {
          width: .5%;

          hr {
            background: #a1a5b3;
            height: .7px;
          }
        }

        @media screen and (min-width: $desktop) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .section-content {
        margin: 0 auto;
        font-family: "Harriet Display Bold";
        text-align: center;

        @media screen and (min-width: $desktop) {
          width: 85.5%;
        }

        .section-logo {
          padding-bottom: 105px;

          @media screen and (min-width: $ipad) {
            padding-bottom: 85px;
          }

          @media screen and (min-width: $desktop) {
            display: none;
          }
        }

        h2 {
          &.header-mobile {
            font-size: 3.125rem;

            @media screen and (min-width: $ipad) {
              font-size: 2.5rem;
            }

            @media screen and (min-width: $desktop) {
              display: none;
            }
          }

          &.header-desktop {
            display: none;
            font-size: 2.5rem;

            @media screen and (min-width: $desktop) {
              display: inline;
            }
          }
        }
      }

      .break-point {
        width: 100%;

        .break-center {
          width: 3%;
          margin: 0 auto;
          padding-top: 38px;

          @media screen and (min-width: $ipad) and (max-width: 1199px) {
            padding-top: 0;
          }

          @media screen and (min-width: $desktop) {
            width: 1%;
          }

          hr {
            background: #ad9571;
          }
        }
      }

      .section-listing {
        margin: 0 auto;

        @media screen and (min-width: $desktop) {
          padding-bottom: 87px;
        }

        h6 {
          font-family: "Revisal Medium";
          font-size: 16.64px;
          text-transform: uppercase;
          letter-spacing: 3px;
          word-spacing: 5px;

          @media screen and (min-width: $ipad) {
            font-size: 13px;
          }

          @media screen and (min-width: $desktop) {
            font-size: 11px;
            letter-spacing: 2px;
            word-spacing: 2px;
          }
        }
      }

      .desktop-menu {
        display: none;
        width: 1000px;
        height: 100px;
        background: #fff;
        margin: 0 auto;
        text-align: center;
        padding-top: 26px;
        padding-bottom: 16px;

        @media screen and (min-width: $desktop) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
        }

        div {
          width: 33%;

          h4 {
            font-family: "Harriet Display Bold";
            font-size: 23px;
            letter-spacing: 1px;
          }

          p {
            font-family: "Revisal Regular";
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }
}

//Main Section Styling
.main-section {
  width: 100%;
  padding-top: 150px;

  &.section-three {
    padding-bottom: 165px;
  }

  @media screen and (min-width: $ipad) {
    padding-top: 160px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 65px;
  }

  .hero-image {
    &.first-section {
      background-image: url("./assets/section1-hero.png");
    }

    &.second-section {
      background-image: url("./assets/section2-hero.png");
    }

    &.third-section {
      background-image: url("assets/section3-hero.png");
    }

    background-position: center;
    background-size: cover;
    width: 100%;
    height: 690px;
    background-repeat: no-repeat;
    margin: 0 auto;

    @media screen and (min-width: $ipad) {
      max-width: 720px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 1140px;
    }

    .container {
      height: 100%;

      .row {
        height: 100%;
        flex-direction: row;

        .hero-top {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 0 auto;

          @media screen and (min-width: $ipad) {
            width: 95%;
          }

          .top-content {
            font-family: "Revisal Regular";
            font-size: 16.6px;
            color: #fff;
            text-transform: uppercase;
            margin-top: 35px;
            letter-spacing: 3px;

            @media screen and (min-width: $ipad) {
              margin-top: 22px;
              font-size: 11px;
            }

            @media screen and (min-width: $desktop) {
              margin-top: 25px;
            }
          }
        }

        .hero-center {
          margin: 0 auto;
        }
      }
    }
  }

  .section-content {
    padding-top: 40px;

    @media screen and (min-width: $ipad) {
      padding-top: 20px;
    }

    .container {
      .row {
        p {
          font-family: "Revisal Medium";
          font-size: 17.6px;
          text-transform: uppercase;
          color: #4a4f6a;

          @media screen and (min-width: $ipad) {
            font-size: 11px;
          }

          &.label {
            width: 100%;
          }
        }

        .section-top-content {
          max-width: 95%;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          @media screen and (min-width: $ipad) {
            margin: 0;
          }

          @media screen and (min-width: $desktop) {
            margin: -90px auto 0 auto;
          }

          .content-left {
            display: flex;
            flex-direction: column;
            word-wrap: break-word;

            @media screen and (min-width: $ipad) {
              flex-direction: row;
              justify-content: space-between;
            }

            .left-content-left {
              h4 {
                font-family: "Harriet Display Bold";
                font-size: 102.5px;
                color: #cd9a6c;

                &.header-two {
                  color: #71bbb4;
                }

                &.header-three {
                  color: #b7b7b7;
                }

                @media screen and (min-width: $ipad) {
                  font-size: 90px;
                }
              }
            }

            .right-content-left {
              width: 75%;

              h5 {
                font-family: "Harriet Display Bold";
                font-size: 37.8px;
                color: #4d3f32;

                span {
                  color: #cd9a6c;
                }

                &.header-two {
                  color: #107673;

                  span {
                    color: #71bbb4;
                  }
                }

                &.header-three {
                  color: #535353;

                  span {
                    color: #b7b7b7;
                  }
                }

                @media screen and (min-width: $ipad) {
                  font-size: 33px;
                }
              }
            }
          }

          .content-right {
            word-wrap: break-word;

            p {
              display: none;
              width: 100%;
              margin-bottom: .2rem;

              @media screen and (min-width: $ipad) {
                display: inline-block;
              }
            }
          }
        }

        .section-middle-content {
          width: 95%;

          .content-left {
            width: 45%;

            img {
              width: 100%;
            }
          }
        }

        .section-bottom-content {
          max-width: 95%;
          color: #4a4f6a;
          margin-top: -40px;

          span {
            color: #ad9571;
          }

          .content-center {
            width: 55%;
            background: #fff;
            margin: 0 auto;
            padding: 20px 20px 40px 20px;
            word-wrap: break-word;

            .bottom-top {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin: 0 auto;

              p {
                font-family: "Revisal Regular";
                font-size: 11px;
              }
            }

            .bottom-center {
              width: 67%;
              margin: 0 auto;
              text-align: center;

              h5 {
                font-family: "Harriet Display Bold";
                font-size: 33px;
                padding-bottom: 60px;
              }

              h6 {
                font-family: "Revisal Medium";
                font-size: 11px;
                text-transform: uppercase;
              }

              hr {
                background: #ad9571;
                max-width: 3%;
                border: 1px solid rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
      }
    }
  }
}

//Section Four Styling
.section-four {
  background: #fff;
  padding-top: 155px;
  padding-bottom: 0px;

  @media screen and (min-width: $ipad) {
    padding-top: 115px;
    padding-bottom: 155px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 230px;
  }

  .container {
    .row {
      .top-labels {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h6 {
          font-family: "Revisal Medium";
          font-size: 18.91px;
          text-transform: uppercase;
          color: #4a4f6a;
          letter-spacing: 1.5px;

          @media screen and (min-width: $ipad) {
            font-size: 13px;
          }

          @media screen and (min-width: $desktop) {
            font-family: "Revisal Regular";
            font-size: 11.28px;
            font-weight: 100;
          }
        }

        span {
          color: #ad9571;
        }
      }

      .hero-image {
        background-image: url("./assets/section4-hero.png");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 690px;
        background-repeat: no-repeat;
        margin: 0 auto;

        .container {
          height: 100%;

          .row {
            height: 100%;
            flex-direction: row;

            .hero-content {
              margin: 0 auto;
              align-self: center;
              text-align: center;
              width: 75%;

              @media screen and (min-width: $desktop) {
                width: 68.5%;
              }

              h5 {
                color: #eee;
                font-family: "Harriet Display Bold";
                font-size: 37.5px;

                @media screen and (min-width: $ipad) {
                  font-size: 40px;
                }
              }

              span {
                color: #d3ba94;
              }

              .video-btn {
                border: 1px solid #d3ba94;
                display: flex;
                flex-direction: row;
                padding: 15px;
                width: 40%;
                margin: 60px auto 0 auto;
                word-break: break-word;

                @media screen and (min-width: $desktop) {
                  background: #d3ba94;
                  width: 25%
                }

                h5 {
                  font-family: "Revisal Black";
                  color: #d3ba94;
                  font-size: 17px;
                  text-transform: uppercase;
                  margin: 0 auto;

                  @media screen and (min-width: $ipad) {
                    font-size: 11px;
                  }

                  @media screen and (min-width: $desktop) {
                    color: #4a4f6a;
                  }
                }
              }
            }
          }
        }
      }

      .top-breaks {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 35px;

        .break {
          width: .5%;

          hr {
            background: #4a4f6a;
            height: .7px;
          }
        }
      }

      .section-content {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-break: break-word;

        .content {
          max-width: 28%;
          color: #4a4f6a;

          @media screen and (min-width: $ipad) {
            max-width: 30%;
            font-size: 38px;
          }

          h5 {
            font-family: "Harriet Display Bold";
          }

          h6 {
            font-family: "Revisal Medium";
            font-size: 19px;
            text-transform: uppercase;

            @media screen and (min-width: $ipad) {
              font-size: 11px;
            }

            @media screen and (min-width: $desktop) {
              margin-top: 15px;
            }
          }

          p {
            font-family: "Helvetica Light";
            font-size: 24px;
            color: #050b29;

            @media screen and (min-width: $ipad) {
              font-size: 14px;
            }
          }

          span {
            color: #ad9571;
          }

          .content-btn {
            border: 1px solid #d3ba94;
            display: flex;
            flex-direction: row;
            padding: 15px;
            width: 100%;
            margin-top: 50px;

            @media screen and (min-width: $desktop) {
              background: #d3ba94;
              width: 50%;
            }

            h5 {
              font-family: "Revisal Black";
              color: #d3ba94;
              font-size: 17px;
              text-transform: uppercase;
              margin: 0 auto;

              @media screen and (min-width: $ipad) {
                font-size: 11px;
              }

              @media screen and (min-width: $desktop) {
                color: #fff;
              }
            }
          }
        }
      }

      .section-content-top {
        padding-top: 130px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          padding-top: 105px;
        }

        @media screen and (min-width: $desktop) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }

        .upper-content {
          &.left {
            @media screen and (min-width: $desktop) {
              margin-left: 10%;
            }

            p {
              font-family: "Revisal Medium";
              font-size: 19px;
              color: #4d3f32;
              margin-left: 3%;
              margin-bottom: .3rem;
              text-transform: uppercase;

              @media screen and (min-width: $ipad) {
                font-size: 11px;
                color: #4a4f6a;
                margin-left: 0;
              }
            }
          }

          &.right {
            @media screen and (min-width: $desktop) {
              width: 10%;
            }

            h6 {
              font-family: "Revisal Medium";
              font-size: 21px;
              color: #ad9571;
              text-transform: uppercase;
              letter-spacing: 2px;

              @media screen and (min-width: $ipad) {
                font-size: 11px;
              }
            }

            img {
              max-width: 100%;
            }
          }
        }
      }

      .section-content-bottom {
        .lower-content-left {
          @media screen and (min-width: $ipad) {
            width: 50%;
            float: left;
            margin-top: 50px
          }
        }

        .lower-content-right {
          @media screen and (min-width: $desktop) {
            width: 25%;
            float: right;
          }

          .lower-content-upper {
            p {
              font-family: "Revisal Medium";
              font-size: 19px;
              color: #4d3f32;
              margin-left: 3%;
              margin-bottom: .3rem;
              text-transform: uppercase;

              @media screen and (min-width: $ipad) {
                font-size: 11px;
                color: #4a4f6a;
                margin-left: 0;
              }
            }
          }

          .lower-content-lower {
            @media screen and (min-width: $desktop) {
              margin-top: 120px;
            }

            h5 {
              font-family: "Harriet Display Bold";
              font-size: 38px;
              color: #4a4f6a;

              span {
                color: #ad9571;
              }
            }
          }
        }
      }
    }
  }
}

//Contact Styling
.contact {
  .container {
    .row {
      .contact-top {
        padding-top: 110px;
        padding-bottom: 95px;
        width: 100%;
        text-align: center;

        @media screen and (min-width: $ipad) {
          padding-top: 130px;
          padding-bottom: 60px;
        }

        @media screen and (min-width: $desktop) {
          padding-top: 70px;
          padding-bottom: 75px;
        }

        h6 {
          font-family: "Revisal Regular";
          font-size: 22.5px;
          text-transform: uppercase;
          color: #4a4f6a;

          @media screen and (min-width: $ipad) {
            font-family: "Revisal Medium";
            font-size: 13px;
          }

          @media screen and (min-width: $desktop) {
            font-size: 11px;
          }
        }
      }

      .contact-locations {
        background: #fff;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        @media screen and (min-width: $ipad) {
          flex-direction: row;
        }

        .location {
          margin: 0 auto;
          text-align: center;
          color: #353b43;

          h4 {
            color: #ad9571;
            font-family: "Revisal Regular";
            font-size: 32px;
          }

          h5 {
            font-family: "Revisal Medium";
            font-size: 30.5px;

            @media screen and (min-width: $ipad) {
              font-size: 15px;
            }
          }

          h6 {
            font-family: "Revisal Regular";
            font-size: 22px;

            @media screen and (min-width: $ipad) {
              font-family: "Revisal Medium";
              font-size: 11px;
            }
          }

          hr {
            width: 6%;
          }
        }
      }

      .contact-bottom {
        width: 100%;
        text-align: center;
        padding-top: 105px;
        padding-bottom: 75px;

        @media screen and (min-width: $ipad) {
          padding-top: 85px;
        }

        @media screen and (min-width: $desktop) {
          padding-top: 90px;
        }

        p {
          color: #505253;
          text-transform: uppercase;
          font-size: 22.5px;
          font-family: "Revisal Medium";

          @media screen and (min-width: $ipad) {
            font-size: 11px;
          }

          &.top-bottom {
            color: #ad9571;
            font-family: "Revisal Regular";
            margin-bottom: 35px;

            @media screen and (min-width: $ipad) {
              font-family: "Revisal Medium";
            }
          }
        }
      }
    }
  }
}

//Social Styling

.social {
  background: #2e2f37;
  padding-top: 110px;
  padding-bottom: 75px;

  @media screen and (min-width: $desktop) {
    padding-top: 50px
  }

  .container {
    .row {
      .social-top {
        width: 100%;
        text-align: center;
        padding-bottom: 60px;

        h6 {
          font-family: "Revisal Black";
          font-size: 22px;
          text-transform: uppercase;

          @media screen and (min-width: $ipad) {
            font-size: 11px;
          }

          @media screen and (min-width: $desktop) {
            font-family: "Revisal Medium";
            color: #eeeeee;
          }

          &.follow {
            font-family: "Revisal Regular";
            font-size: 24px;
            color: #eef1f2;

            @media screen and (min-width: $ipad) {
              font-family: "Revisal Medium";
              font-size: 11px;
            }

            @media screen and (min-width: $desktop) {
              color: #ad9571;
            }
          }
        }

        span {
          color: #ad9571;
        }
      }

      .social-images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;

        img {
          width: 24%;
        }
      }
    }
  }
}

//Section Bottom Styling
.section-bottom {
  background: #4a4f6a;
  padding: 15px 0;

  .container {
    .row {
      flex-direction: row;
      justify-content: space-between;

      .bottom {
        display: flex;

        h6 {
          font-family: "Revisal Medium";
          font-size: 20.5px;
          color: #fff;
          text-transform: uppercase;
          margin-bottom: 0;

          &.header-left-right {
            margin-left: 20px;
          }

          @media screen and (min-width: $ipad) {
            font-size: 11px;
          }
        }
      }
    }
  }
}